/* navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #333; /* Adjust background color as desired */
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-title {
  margin: 10px;
}
.navbar-title:hover{
    color: #888888; /* Darker color on hover */
}
.nav-t-buttons {
  margin: 10px;
  display: flex;
  gap: 15px; /* Spacing between the buttons */
}

  /*stuff doesnt hide behind nav bar at top*/
  body {
    padding-top: 30px;
  }